Cook2021/Installer/Web References/dws/getfullcustomers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="urn:DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="urn:DefaultNamespace" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:DefaultNamespace">
      <xsd:element name="DBNAME" type="xsd:string" />
      <xsd:element name="VIEWNAME" type="xsd:string" />
      <xsd:element name="MYUNID" type="xsd:string" />
      <xsd:element name="GETFULLCUSTOMERSReturn" type="xsd:string" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GETFULLCUSTOMERSResponse">
    <wsdl:part name="GETFULLCUSTOMERSReturn" element="impl:GETFULLCUSTOMERSReturn" />
  </wsdl:message>
  <wsdl:message name="GETFULLCUSTOMERSRequest">
    <wsdl:part name="DBNAME" element="impl:DBNAME" />
    <wsdl:part name="VIEWNAME" element="impl:VIEWNAME" />
    <wsdl:part name="MYUNID" element="impl:MYUNID" />
  </wsdl:message>
  <wsdl:portType name="GetFullCustomers">
    <wsdl:operation name="GETFULLCUSTOMERS">
      <wsdl:input name="GETFULLCUSTOMERSRequest" message="impl:GETFULLCUSTOMERSRequest" />
      <wsdl:output name="GETFULLCUSTOMERSResponse" message="impl:GETFULLCUSTOMERSResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DominoSoapBinding" type="impl:GetFullCustomers">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GETFULLCUSTOMERS">
      <wsdlsoap:operation soapAction="GETFULLCUSTOMERS" />
      <wsdl:input name="GETFULLCUSTOMERSRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GETFULLCUSTOMERSResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetFullCustomersService">
    <wsdl:port name="Domino" binding="impl:DominoSoapBinding">
      <wsdlsoap:address location="http://spinstalls.app-garden.com:80/cciweb.nsf/getfullcustomers?OpenWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>